<div id="main-content">
            <div class="row timeline-options c-gray">
                <div class="col-md-3 col-sm-6 text-center">
                    <i class="fa fa-calendar"></i> 3 Appointments
                </div>
                <div class="col-md-3 col-sm-6 text-center">
                    <i class="fa fa-phone-square"></i> 6 Calls
                </div>
                <div class="col-md-3 col-sm-6 text-center">
                    <i class="fa fa-coffee"></i> 6 Lunch &amp; Breakfast
                </div>
                <div class="col-md-3 col-sm-6 text-center">
                    <button type="button" class="btn btn-sm btn-blue"><i class="fa fa-plus"></i> Add New Task</button>
                </div>
            </div>
            <div class="timeline-btn-day"> <i class="icon-custom-left"></i>
                <button type="button" class="btn btn-blue f-16 w-600">Tomorrow</button>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <ul class="timeline" id="timeline">
                    </ul>
                    <div id="single-post">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="timeline-btn-day"> <i class="icon-custom-left"></i>
                    <button type="button" class="btn btn-blue f-16 w-600">Tomorrow</button>
                </div>
            </div>
        </div>

<script type="text/template" id="item-template">
                            <div class="timeline-badge bg-blue" rel="tooltip" title="" data-original-title="{{ title }}"></div>
                            <div class="timeline-info inverted">
                                <div class="timeline-info-time">
                                    <div><i class="fa fa-calendar c-blue"></i>
                                    </div>
                                    <div class="c-gray timeline-info-hour">{{ moment(date).format('HH:mm') }}</div>
                                </div>
                                <div class="timeline-info-type c-blue">Appointment</div>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <div class="timeline-heading-info">
                                        <div class="pull-left">
                                            <div class="timeline-day-number">{{ moment(date).add(1,'d').format('DD') }}</div>
                                            <div>
                                                <div class="timeline-day">{{ moment(date).format('dddd') }}</div>
                                                <div class="timeline-month c-gray">{{ moment(date).format('MMMM YYYY') }}</div>
                                            </div>
                                        </div>
                                        <div class="pull-right">
                                            <div>
                                                <a href="/#/post/{{ id }}" class="external" rel="tooltip" data-toggle="tooltip" data-placement="top" title="" data-original-title="Go"><i class="fa  fa-external-link-square"></i></a> 
                                                <a href="#" class="share" rel="tooltip" data-toggle="tooltip" data-placement="top" title="" data-original-title="Share"><i class="fa fa-share"></i></a> 
                                                <a href="#" class="remove" rel="tooltip" data-toggle="tooltip" data-placement="top" title="" data-original-title="Remove"><i class="fa fa-times"></i></a> 
                                            </div>
                                        </div>
                                    </div>
                                    <div class="timeline-heading-share hide">
                                        <div>
                                            <a href="#" class="share-fb"><i class="fa fa-facebook"></i></a>&nbsp;
                                            <a href="#" class="share-tw"><i class="fa fa-twitter"></i></a>
                                            <a href="#" class="share-rm"><i class="fa fa-times"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <img class="img-responsive" src="http://localhost/themeforest/admin/assets/img/various/timeline2.jpg">
                                <div class="timeline-body">
                                    <h4><strong>{{ title }}</strong></h4>
                                    <div class="bd-l-blue p-10">
                                        {{ description }}
                                    </div>
                                </div>
                            </div>
</script>
<script type="text/template" id="item-page-template">
        <div class="blog-result">
            <div class="row">
                <div class="col-lg-8">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h1>{{ title }}</h1>
                            <hr>
                            <p><i class="fa fa-calendar"></i> Occurred on {{ moment(date).format('MMMM DD, YYYY') }}</p>
                            <hr>
                            <img src="http://localhost/themeforest/admin/assets/img/various/timeline2.jpg" class="img-responsive">
                            <hr>
                            <p class="lead">{{ description }}</p>
                            <p>{{ description }}</p>
                            <p><strong>Personajes:</strong></p>
                            <ul>
                                <li><a href="#">Pancho Villa</a>
                                </li>
                                <li><a href="#">Carranza</a>
                                </li>
                            </ul>
                            <hr>
                            <!-- the comment box -->
                            <hr>
                            <div class="well">
                            <iframe src="http://www.facebook.com/plugins/comments.php?href=localhost:1337/#/post/{{ id }}" frameborder="0" allowTransparency="true" with="100%"></iframe>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-lg-4 blog-sidebar">
                    <div class="panel panel-default">
                    <div class="panel-body">
                        <h4>Buscar</h4>
                        <div class="input-group">
                            <input type="text" class="form-control">
                            <span class="input-group-btn">
                                <button class="btn btn-danger" type="button">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </span>
                        </div>
                      </div>
                    </div>
                    <div class="panel panel-default">
                       <div class="panel-body">
                            <h4>Blog Categories</h4>
                            <div class="row">
                                <div class="col-lg-6">
                                    <ul class="list-unstyled categories-list">
                                        <li><i class="fa fa-angle-right"></i> <a href="#dinosaurs">Dinosaurs</a>
                                        </li>
                                        <li><i class="fa fa-angle-right"></i> <a href="#spaceships">Spaceships</a>
                                        </li>
                                        <li><i class="fa fa-angle-right"></i> <a href="#fried-foods">Fried Foods</a>
                                        </li>
                                        <li><i class="fa fa-angle-right"></i> <a href="#wild-animals">Wild Animals</a>
                                        </li>
                                        <li><i class="fa fa-angle-right"></i> <a href="#fried-foods">Fried Foods</a>
                                        </li>
                                        <li><i class="fa fa-angle-right"></i> <a href="#wild-animals">Wild Animals</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h4>Side Widget Well</h4>
                            <p>Bootstrap s default wells work great for side widgets! What is a widget anyways...?</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</script>
<script type="text/template" id="item-add-event-template">
        <div class="blog-result">
             <code>
<a href=”/home/index”>List</a>
    <h2>Event Create form</h2>
    <form action=”post/event” method=”POST”>
    <table>
    <tr><td>Date: <td><input type=”text” name=”Event[date]”><br/></tr>
    <tr><td>Tittle: <td><input type=”text” name=”Event[title]”><br/></tr>
    <tr><td>Description: <td><input type=”text” name=”Event[description]”></tr>
    <tr><td>Image: <td><input type=”text” name=”Event[imageURL]”></tr>
    <tr><td><td><button type="submit" class="btn btn-sm btn-blue" id="btnAdd"><i class="fa fa-plus"></i> Add Event</button>
    </form>
     </code>
        </div>
</script>